USE [FRGP_LABO]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 24/8/2019 22:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Actividades](
	[Actividades_PK] [tinyint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[BoolAptoMed] [varchar](2) NOT NULL,
	[Costo] [money] NOT NULL,
	[IDSede] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Actividades_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ActSedeXSocio]    Script Date: 24/8/2019 22:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActSedeXSocio](
	[ID_Legajo] [int] NOT NULL,
	[ID_Actividades_PK] [tinyint] NULL,
	[Beca] [bit] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 24/8/2019 22:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Localidad](
	[CodPos_PK] [int] NOT NULL,
	[NombreLoc] [varchar](50) NOT NULL,
	[IDCodProv] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodPos_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 24/8/2019 22:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincia](
	[CodProv_PK] [tinyint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodProv_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sede]    Script Date: 24/8/2019 22:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sede](
	[Sede_PK] [tinyint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Mail] [varchar](40) NULL,
	[Telefono] [int] NULL,
	[IDCodPos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Sede_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Socios]    Script Date: 24/8/2019 22:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Socios](
	[Legajo] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[FechaNac] [date] NOT NULL,
	[Genero] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Actividades] ON 

INSERT [dbo].[Actividades] ([Actividades_PK], [Nombre], [BoolAptoMed], [Costo], [IDSede]) VALUES (1, N'Ajedrez', N'No', 250.0000, 1)
INSERT [dbo].[Actividades] ([Actividades_PK], [Nombre], [BoolAptoMed], [Costo], [IDSede]) VALUES (2, N'Voley', N'Si', 450.0000, 3)
INSERT [dbo].[Actividades] ([Actividades_PK], [Nombre], [BoolAptoMed], [Costo], [IDSede]) VALUES (3, N'Handball', N'Si', 450.0000, 3)
SET IDENTITY_INSERT [dbo].[Actividades] OFF
INSERT [dbo].[ActSedeXSocio] ([ID_Legajo], [ID_Actividades_PK], [Beca]) VALUES (1000, 1, 0)
INSERT [dbo].[ActSedeXSocio] ([ID_Legajo], [ID_Actividades_PK], [Beca]) VALUES (1000, 3, 0)
INSERT [dbo].[ActSedeXSocio] ([ID_Legajo], [ID_Actividades_PK], [Beca]) VALUES (1000, 2, 0)
INSERT [dbo].[Localidad] ([CodPos_PK], [NombreLoc], [IDCodProv]) VALUES (1111, N'San Fernando', 1)
INSERT [dbo].[Localidad] ([CodPos_PK], [NombreLoc], [IDCodProv]) VALUES (2222, N'Lanús', 23)
INSERT [dbo].[Localidad] ([CodPos_PK], [NombreLoc], [IDCodProv]) VALUES (3333, N'Tigre', 1)
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([CodProv_PK], [Nombre]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[Provincia] ([CodProv_PK], [Nombre]) VALUES (2, N'Capital Federal')
INSERT [dbo].[Provincia] ([CodProv_PK], [Nombre]) VALUES (3, N'Catamarca')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
SET IDENTITY_INSERT [dbo].[Sede] ON 

INSERT [dbo].[Sede] ([Sede_PK], [Nombre], [Direccion], [Mail], [Telefono], [IDCodPos]) VALUES (1, N'Norte', N'Presidente Simón 4400', N'norte@lab3.com.ar', 14141414, 1111)
INSERT [dbo].[Sede] ([Sede_PK], [Nombre], [Direccion], [Mail], [Telefono], [IDCodPos]) VALUES (2, N'Sur', N'Dr Kloster 1080', N'sur@lab3.com.ar', 15151515, 2222)
INSERT [dbo].[Sede] ([Sede_PK], [Nombre], [Direccion], [Mail], [Telefono], [IDCodPos]) VALUES (3, N'Microestadio', N'Virrey Calabuig 1350', N'micro@lab3.com.ar', NULL, 3333)
SET IDENTITY_INSERT [dbo].[Sede] OFF
INSERT [dbo].[Socios] ([Legajo], [Nombre], [Apellido], [FechaNac], [Genero]) VALUES (1000, N'Javier', N'Angelelli', CAST(N'1990-01-01' AS Date), N'M')
INSERT [dbo].[Socios] ([Legajo], [Nombre], [Apellido], [FechaNac], [Genero]) VALUES (2000, N'Belén', N'Baires', CAST(N'1998-02-02' AS Date), N'F')
INSERT [dbo].[Socios] ([Legajo], [Nombre], [Apellido], [FechaNac], [Genero]) VALUES (3000, N'Juan', N'Corrionero', CAST(N'2004-03-03' AS Date), N'M')
ALTER TABLE [dbo].[Actividades]  WITH CHECK ADD FOREIGN KEY([IDSede])
REFERENCES [dbo].[Sede] ([Sede_PK])
GO
ALTER TABLE [dbo].[ActSedeXSocio]  WITH CHECK ADD FOREIGN KEY([ID_Actividades_PK])
REFERENCES [dbo].[Actividades] ([Actividades_PK])
GO
ALTER TABLE [dbo].[ActSedeXSocio]  WITH CHECK ADD FOREIGN KEY([ID_Legajo])
REFERENCES [dbo].[Socios] ([Legajo])
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD FOREIGN KEY([IDCodProv])
REFERENCES [dbo].[Provincia] ([CodProv_PK])
GO
ALTER TABLE [dbo].[Sede]  WITH CHECK ADD FOREIGN KEY([IDCodPos])
REFERENCES [dbo].[Localidad] ([CodPos_PK])
GO
ALTER TABLE [dbo].[Actividades]  WITH CHECK ADD CHECK  (([BoolAptoMed]='si' OR [BoolAptoMed]='no' OR [BoolAptoMed]='No' OR [BoolAptoMed]='Si'))
GO
ALTER TABLE [dbo].[Actividades]  WITH CHECK ADD CHECK  (([costo]>(0)))
GO
ALTER TABLE [dbo].[Socios]  WITH CHECK ADD CHECK  (([FechaNac]<'2010-01-01'))
GO
ALTER TABLE [dbo].[Socios]  WITH CHECK ADD CHECK  (([Genero]='f' OR [Genero]='F' OR [Genero]='m' OR [Genero]='M'))
GO
